extends layout 

block layout-content 
    .view 
        h1.banner JSON Db test 
            .message 
                .title 
                    h3 Testing local JSON file as storage
                    h4 Db content: #{JSON.stringify(data)}