<%- include('partials/header') %>
    <div class="container center">
        <h1>Movie Data</h1>
        <table>
            <tr>
                <th>Movie name</th>
                <th>Year</th>
            </tr>
            <% movies.forEach( movie => { %>
                <tr>
                    <td>
                        <%= movie.Title -%>
                    </td>
                    <td>
                        <%= movie.Year -%>
                    </td>
                </tr>
                <% });%>
        </table>
    </div>
    <%- include('partials/footer') %>