*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.25rem;
}

.container {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 4rem 0;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container li {
  list-style-type: none;
}

.container li:last-of-type {
  margin-bottom: 1rem;
}

.footer {
  position: fixed;
  width: 100%;
  margin: 0;
  padding: .5rem 0;
  bottom: 0;
  text-align: center;
  background-color: #555;
  color: #fff;
}
