extends layout.pug

block content
    h2.center Welcome to The Blog!

    .gallery
        each blog in blogs
            .card
                h3= blog.title
                p
                img(src=blog.image, alt=blog.title)
                p= blog.body.substring(0, 100) + "..."
                a.button(href="/blogs/" + blog._id) Read more
    .modal.hidden
        .modal-content
            form.form(action="/blogs", method="post")
                label(for="blog[title]") Title
                input(type="text", name="blog[title]", required)
                label(for="blog[image]") Image URL
                input(type="url", name="blog[image]", size="56", required)
                label(for="blog[body]") Content
                textarea(name="blog[body]", rows="3", cols="54", required)
                input.button(type="submit", value="Publish")