extends layout.pug

block content
    .center
        h2= blog.title
        p= blog.created.toLocaleDateString()
        img(src="" + blog.image, alt="" + blog.title)
        p= blog.body
        form.button-row(action="/blogs/" + blog._id + "?_method=DELETE" method="post")
            a.button(href="/blogs") Back
            a.button(href="/blogs/" + blog._id + "/edit") Edit
            input.button(type="submit", value="Delete")