<%- include('partials/header') %>

    <h2>Posts page</h2>
    <ul>
        <% posts.forEach(post => { %>
            <li>
                <%= post.title %> - <strong><%= post.author %></strong></li>
            <% }); %>
    </ul>
    <%- include('partials/footer') %>