<%- include('partials/header') %>
    <h1>You are at
        <%= passVar %> page!</h1>

    <% if(passVar.toLowerCase() === 'test') { %>
        <p>TESTING, TESTING, 123...</p>
        <% } %>
            <%- include('partials/footer') %>