doctype html
html
    head
        title YelpCamp
        link(rel="stylesheet", href="/app.css")
        
    body
        header
            nav
                .container
                    ul.menu
                        li
                            a(href="/") YelpCamp
                    ul.menu
                        li
                            a(href="/") Home
                        li
                            a(href="/campgrounds") Campgrounds
        main#main
            .container
                block content
        
        footer.footer
            p &copy; #{new Date().getFullYear()} Yelp Camp inc
        //script(src="/script.js")
                